 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>With a wide range of microfabrication skills and experience, we provide assistance from concept development, through to prototype and volume production.</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you are working with standard processes or developing a novel technology, our skills and experience will shorten your time to market.</p>
                    <p>Contact us today to find out more.</p>
                </div>
<!---
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
--->
            </div>
        </div>
    </section>
