 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div>
                <p>Andrew Vella has over 15 years experience in microfabrication development, I provide assistance from concept development through to design prototyping and volume production.</p>

                <p>Whether you are developing a novel technology or working with standard processes, my wide range of skills and experience will help you avoid expensive pitfalls and shorten your time to market.</p>

                <p>Contact me today to find out more.</p>
            </div>
        </div>
    </section>
