 <!-- Capabilities Section -->
    <section class="success" id="capabilities">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Capabilities</h2>
                    <hr class="star-light">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <h3>Concept Development</h3>

                        <ul>
                            <li>Specification development</li>
                            <li>Competitor analysis</li>
                            <li>Process selection</li>
                            <li>Runsheet development</li>
                        </ul>
                </div>

                <div class="col-lg-4">
                    <h3>Tech. Integration</h3>
                        <ul>
                            <li>Layout & drafting</li>
                            <li>Short loop development</li>
                            <li>Process integration</li>
                            <li>Capability analysis</li>
                        </ul>
                </div>

                <div class="col-lg-4">
                    <h3>Foundry Management</h3>
                        <ul>
                            <li>Foundry engagement</li>
                            <li>Technology transfer</li>
                            <li>Operations support</li>
                            <li>Technical mentoring</li>
                        </ul>
                </div>
            </div>

            <div class="row">
              <div class="col-lg-4">
                  <h3>Test Development</h3>
                  <ul>
                      <li>Probe card development</li>
                      <li>Prober & tester integration</li>
                      <li>Test data management</li>
                      <li>Advanced analysis (machine learning)</li>
                  </ul>
              </div>
              <div class="col-lg-4">
              <h3>Packaging</h3>
                  <ul>
                      <li>Wafer mounting</li>
                      <li>Blade dicing</li>
                      <li>Pick & place</li>
                      <li>Wire bonding & encapsulation</li>
                  </ul>
              </div>
              <div class="col-lg-4">
                <h3>Characterisation</h3>
                    <ul>
                        <li>Failure analysis</li>
                        <li>Constructional analysis</li>
                        <li>Electrical characterisation</li>
                        <li>Microscopy (FIB-SEM, IR)</li>
                    </ul>
                </div>

            </div>

        </div>
    </section>
